
<div style ="color:red; font-size: 20px">
  <%=flash[:error]%>
</div>


<%= form_with(model: @question, url: [@game, @question], html: {multipart: true} ,local: true) do |form| %>

  <div class="field">
    <%= form.label :question, "Images" %>
    <%= form.cl_image_upload :question %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
