<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.number_field :category, id: :game_category %>
  </div>

  <div class="field">
    <%= form.label :speed %>
    <%= form.number_field :speed, id: :game_speed %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, id: :game_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
