<p id="notice"><%= notice %></p>

<h1>Games</h1>


<div class="row">
  <div class="col-md-6">
    <% @games.each do |game| %>

        <h1><%= game.category.upcase %></h1><%= link_to 'PLAY', game , :class=> "btn btn-info play_game_btn"%><br><br>
        <br/>
        <img class="img-responsive" class="img-thumbnail" src="/assets/<%= game.category %>.jpg" alt="..." ><br/>

  <hr>
    <% end %>
  </div>
    </div>



<br>

<%= link_to 'New Game', new_game_path %>
