<p id="notice"><%= notice %></p>



<h1> Game Details </h1>
<p>
  <strong>Category:</strong>
  <%= @game.category %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @game.speeds %>
</p>

<p>
  <strong>Level:</strong>
  <%= @game.levels %>
</p>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<script>
   var gameID = <%= @game.id %>;
   var questions = <%= @questions.to_json.html_safe %>;
</script>



<script src="/assets/jquery.js"></script>
<%= link_to 'Check Your Stats', user_path(@current_user) %>




<script src="/assets/<%= @game.category %>.js"></script>

<%# render the category's custom HTML only if it exists, otherwise ignore it %>
<%= render partial: "games/category_partials/#{@game.category}" rescue nil %>
