<p id="notice"><%= notice %></p>

<h1> Game Details </h1>
<p>
  <strong>Category:</strong>
  <%= @game.category.upcase %>
</p>

<script>
   var gameID = <%= @game.id %>;
   var questions = <%= @questions.to_json.html_safe %>;
</script>



<script src="/assets/<%= @game.category %>.js"></script>

<%# render the category's custom HTML only if it exists, otherwise ignore it %>
<%= render partial: "games/category_partials/#{@game.category}" rescue nil %>
