<%= form_with(model: stat, local: true) do |form| %>
  <% if stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.number_field :game_id, id: :stat_game_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :stat_user_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :stat_score %>
  </div>

  <div class="field">
    <%= form.label :accuracy %>
    <%= form.number_field :accuracy, id: :stat_accuracy %>
  </div>

  <div class="field">
    <%= form.label :average_time %>
    <%= form.text_field :average_time, id: :stat_average_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
