<p id="notice"><%= notice %></p>

<h1>Here are your game statistics!</h1>

<table  style="width: auto" class="table table-striped">
  <thead>
    <tr>
      <th>Game</th>
      <th>Score</th>
      <th>Accuracy</th>
      <th>Average time</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.game_id %></td>
        <td><%= stat.score %></td>
        <td><%= stat.accuracy %></td>
        <td><%= stat.average_time %></td>
        <td><%= stat.level %></td>
        <td><%= link_to 'Show', stat %></td>
        <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
