<p id="notice"><%= notice %></p>

<h1>Here are your game statistics!</h1>

<h3>Scores</h3>
<%= line_chart @score %>
<%#= line_chart @stats.map { |stat|
    { name: stat.game, data: stat.score }
} %>
<br />
<h3>Accuracy</h3>
<%= column_chart @average %>

<hr />

<table style="width: auto" class="table table-striped">
  <thead>
    <tr>
      <th>Game</th>
      <th>Score</th>
      <th>Accuracy</th>
      <th>Average time</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.game_id %></td>
        <td><%= stat.score %></td>
        <td><%= stat.accuracy %></td>
        <td><%= stat.average_time %></td>
        <td><%= stat.level %></td>
      </tr>
    <% end %>
  </tbody>
</table>
