<!DOCTYPE html>
<html>
  <head>
    <title>KIDS FUN BRAIN APP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#myPage">FUN BRAIN</a>

        </div>


        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <% if @current_user.present? %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Stats', stats_path %></li>

            <li><a href="#about">AboutUs</a></li>
            <li><a href="#portfolio">OurValues</a></li>
            <li><a href="#services">Games</a></li>
            <li><%= link_to 'Logout', login_path, method: :delete %></li>
            <% else %>
            <li>  <%= link_to 'Home', root_path %></li>
              |
            <li>  <%= link_to 'Login', login_path %></li>

            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container"  class="parallax" >
      <nav>
        <imgsrc="/assets/funbrain.jpeg">

        <% if @current_user.present? %>
          <%= link_to @current_user.name, @current_user %>
          |||
          <%= link_to 'Home', root_path %>
          |
          <%= link_to 'Stats', stats_path %>
          |
          <%= link_to 'Games', games_path %>
          |
          <%= link_to 'AboutUs', root_path %>
          |
          <%= link_to 'Logout', login_path, method: :delete %>
        <% else %>
          <%= link_to 'Home', root_path %>
          |
          <%= link_to 'Login', login_path %>

        <% end %>
      </nav>
    <%= yield %>
  </body>
</html>
