<!DOCTYPE html>
<html>
  <head>
    <title>KIDS FUN BRAIN APP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="container"  class="parallax" >
      <nav>
        <imgsrc="/assets/funbrain.jpeg">

        <% if @current_user.present? %>
          <%= link_to @current_user.name, @current_user %>
          |||
          <%= link_to 'Home', root_path %>
          |
          <%= link_to 'Stats', stats_path %>
          |
          <%= link_to 'Games', games_path %>
          |
          <%= link_to 'About Us', root_path %>
          |
          <%= link_to 'Logout', login_path, method: :delete %>
        <% else %>
          <%= link_to 'Home', root_path %>
          |
          <%= link_to 'Login', login_path %>

        <% end %>
      </nav>
    <%= yield %>
  </body>
</html>
