<!DOCTYPE html>
<html>
  <head>
    <title>KIDS FUN BRAIN APP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to 'FUN BRAIN', root_path, class: "navbar-brand" %>
          <div >
            <% if @current_user.present? %>
              <h5><%= link_to @current_user.name, @current_user , class: "welcomeuser"%></h5>
            <% end %>
          </div>
        </div>


        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <% if @current_user.present? %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Stats', stats_path %></li>
              <li><%= link_to 'Games', games_path %></li>
              <li><%= link_to 'Logout', login_path, method: :delete %></li>
            <% else %>
              <li>  <%= link_to 'Home', root_path %></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Games</a></li>
              <li><a href="#portfolio">Our Values</a></li>
              <li>  <%= link_to 'Login', login_path %></li>

            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container"  class="parallax" >
      <nav>
        <imgsrc="/assets/funbrain.jpeg">

        <% if @current_user.present? %>
          <%= link_to @current_user.name, @current_user %>
          |||
          <%= link_to 'Home', root_path %>
          |
          <%= link_to 'Stats', stats_path %>
          |
          <%= link_to 'Games', games_path %>
          |
          <%= link_to 'AboutUs', root_path %>
          |
          <%= link_to 'Logout', login_path, method: :delete %>
        <% else %>
          <%= link_to 'Home', root_path %>
          |
          <%= link_to 'Login', login_path %>

        <% end %>
      </nav>
      <h1> H</h1>
      <h1> . </h1>
    <%= yield %>
  </body>
</html>
